language: node_js
node_js:
  - "stable"
cache:
  directories:
    - node_modules
script:
  - npm test
  - npm run build
env:
  GATSBY_GITHUB_TOKEN: $GATSBY_GITHUB_TOKEN
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $github_token
  local_dir: public
  target-branch: master
  keep-history: true
  on:
    branch: develop
