.header-area {
  background-color: #eee;
}

.header {
  width: 940px;
  margin: 0 auto;
}

.brand a {
    text-decoration: none;
    font-size: 26px;
    color: #333;
}

.brand span {
    background-color: #333;
    color: #fff;
    padding: 3px 6px;
    border-radius: 4px;
    margin-right: 5px;
}

.btn-add a {
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 45px 0;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li.btn-add {
    float: right;
}

.header .search {
    padding: 0 50px;
    text-align: center;
    padding-bottom: 100px;
}

.header .search input {
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3);
}

.header .search p {
    margin-top: 25px;
    color: rgba(0, 0, 0, 0.6);
}

.top {
  display: flex;
  flex-wrap: wrap;
}

.top>div {
  flex-grow: 1;
  width: calc(33% - 20px);
  margin: 10px;
  border-radius: 4px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.mt-0 {
  margin-top: -50px;
}

.card {
  background: #fff;
  margin: 10px;
}

.c-card a {
  text-decoration: none;
  display: block;
  padding: 20px;
  color: #fff;
}

.contents h2 {
  text-align: center;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}

.contents .c-card a {
  color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3);
}

.items {
  display: flex;
  margin-bottom: 30px;
}

.content h3 {
  font-size: 18px;
  padding-left: 15px;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.items>div {
  width: calc(33.3333% - 20px)
}

.c-card h4 {
  font-size: 22px;
  margin-bottom: 0;
}

.c-card p {
  margin-bottom: 0;
}
