/* global styles */
.mt-0 {
  margin-top: -50px;
}


.btn {
  border: none;
  margin: 0 5px;
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: 900;
}

.btn-home {
  background-color: #607d8b;
}

.btn-new {
  background-color: #4caf50;
}

.btn-bug {
  background-color: #f44336;
}

.print {
  text-align: center;
}

.btn-print {
  background-color: #333;
}

footer ul {
  list-style: none;
  margin-bottom: 10px;
}

footer ul li {
  display: inline-block;
  margin: 0 5px;
}

footer ul li a {
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 2px 10px;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 13px;
}

@media only screen and (max-width: 668px) {
  .error {
    width: 100%;
  }
}

@media only screen and (max-width: 460px) {
  li.brand {
    display: block;
    width: 100%;
    text-align: center;
  }

  .mt-0 {
    margin-top: -25px;
  }
}

@media print {
  @page {
    margin: 0.5cm;
  }

  .no-print {
    display: none !important;
  }

  .brand a {
    color: #fff !important;
    filter: invert(100%) !important;
  }

  .brand span {
    background-color: #fff !important;
    color: #000 !important;
    padding: 0 8px !important;
    font-weight: 900 !important;
  }
}
